.left > div {
	width: 95%;
	margin: 1%;
	margin-top: 20px;
	background-color: #28A745;
	text-align: center;
	box-shadow: -8px 12px 10px #2a3d4e;
	color: white;
	padding: 1%;

}
.right > div {
	width: 95%;
	margin: 1%;
	margin-top: 20px;
	background-color: #28A745;
	text-align: center;
	box-shadow: -8px 12px 10px #2a3d4e;
	color: white;
	padding: 1%;

}
.left {
	float: left;
	width: 50%;
}
.right {
	float: right;
	width: 50%;
}
#statusbar {
	height: 40px;
	width: 150px;
	background-color: white;
	border-radius: 10px;
}
img {
	border-radius: 50%;
}
a {
	color: white;
	font-size: 1.5rem;
}
#color {
	background-color: lightblue;
	left: 0;
	top: 0;
	height: 100%;
	border-radius: 10px;
}
#progress {
	position: relative;
	left: 30px;
	top: 4px;
	color: black;

}
li {
	font-size: 1.1rem;
}
.nav {
	top: 0;
	left: 0;
	background-color: white;
	height: 40px;
	transition: 0.3s ease;
}
.hidden	{
	display: none;
}
.nav > li {
	margin-left: 20px;
}
.open {
	margin-left: 100px;
}